[Unit]
Description=Mine a few blocks in the aursec blockchain

[Service]
Type=simple
ExecStart=/usr/bin/aursec-chain -v mine blocks 5
User=aursec
Group=aursec
