[Unit]
Description=Mine a few blocks in the aursec blockchain

[Service]
Type=simple
ExecStart=/usr/bin/aursec-chain mine auto
User=aursec
Group=aursec
